<mapper namespace="com.example.IPersistenceTest.dao.TestDao">

  <!--sql的唯一标识 应该是由 namespace.id组成：statementId-->

  <select id="findAll" resultType="com.example.IPersistenceTest.pojo.Test">
    select * from sample_test;
  </select>

  <select id="findById" resultType="com.example.IPersistenceTest.pojo.Test" parameterType="com.example.IPersistenceTest.pojo.Test">
    select * from sample_test where id = #{id};
  </select>

  <update id="updateById" parameterType="com.example.IPersistenceTest.pojo.Test">
    update sample_test set value = #{value}, remark = #{remark} where id = #{id};
  </update>

  <delete id="deleteById">
    delete from sample_test where id = #{id};
  </delete>

  <insert id="insert" parameterType="com.example.IPersistenceTest.pojo.Test">
    insert into sample_test (value, fake_value, remark, create_time)
    values (#{value}, #{fakeValue}, #{remark}, #{createTime});
  </insert>

</mapper>
